* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Fira Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAF3E3;
  min-height: 130vh;
  width: 100vw;
}
@media (min-width: 280px) {
  .App {
    min-height: 100vh;
  }
}
.App h1 {
  color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

form {
  background-color: white;
  padding-inline: 2.5rem;
  border-radius: 2rem;
  box-shadow: 6px 10px 13px 0px rgba(0, 0, 0, 0.53);
  width: auto;
}
form .formInput {
  display: flex;
  flex-direction: column;
}
@media (min-width: 70px) {
  form .formInput {
    width: auto;
  }
}
@media (min-width: 280px) {
  form .formInput {
    width: auto;
  }
}
@media (min-width: 370px) {
  form .formInput {
    width: 20rem;
  }
}
@media (min-width: 960px) {
  form .formInput {
    width: 22rem;
  }
}
@media (min-width: 1200px) {
  form .formInput {
    width: 25rem;
  }
}
form .formInput input {
  padding: 1rem;
  margin: 1rem 0rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
form .formInput label {
  font-size: 1rem;
  color: #6B7280;
}
form .formInput span {
  font-size: 0.7rem;
  padding: 0.2rem;
  margin-top: -1rem;
  margin-bottom: 0.7rem;
  color: red;
  display: none;
}
form .formInput input:invalid[focused=true] {
  border: 2px solid red;
}
form .formInput input:invalid[focused=true] ~ span {
  display: block;
}

.formSuccess {
  background-color: white;
  padding: 2.5rem 4.5rem;
  border-radius: 2rem;
  box-shadow: 6px 10px 13px 0px rgba(0, 0, 0, 0.53);
}

button {
  width: 100%;
  height: 4rem;
  padding: 1rem;
  border: none;
  background-color: lightgray;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
button:hover {
  background-color: #1A4D2E;
  transition: 800ms;
  -webkit-transition: 800ms;
  -moz-transition: 800ms;
  -ms-transition: 800ms;
  -o-transition: 800ms;
  cursor: pointer;
  font-size: 1.7rem;
  color: #EEE;
}
